# logistic regression

In [34]:
import pandas as pd
import numpy as np

In [35]:
data =pd.read_csv("Home_Decor.csv")

In [36]:
data.head()
len(data)

400

In [37]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score
%matplotlib inline

In [38]:
data.isnull().sum()

Age              0
MonthlySalary    0
Visited_Store    0
dtype: int64

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            400 non-null    int64
 1   MonthlySalary  400 non-null    int64
 2   Visited_Store  400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [40]:
data.dropna()

     Age  MonthlySalary  Visited_Store
0     42          54000              0
1     51         134000              0
2     47         113000              1
3     36         125000              1
4     38          50000              0
..   ...            ...            ...
395   23          20000              0
396   25          79000              0
397   27          54000              0
398   30         135000              1
399   31          89000              0

[400 rows x 3 columns]

In [41]:
x = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [42]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.30,random_state=20)

In [48]:
from sklearn.preprocessing import StandardScaler
sc_x=StandardScaler()
xtrain=sc_x.fit_transform(xtrain)
xtest=sc_x.transform(xtest)
print(xtrain[0:10, : ])

[[ 1.20305074 -1.01832472]
 [ 0.33907586 -0.32611328]
 [ 0.33907586  0.06513667]
 [ 1.20305074  0.54667506]
 [ 0.05108423 -0.44649788]
 [-0.2369074  -0.77755552]
 [-0.2369074   0.09523282]
 [-1.29287671  0.42629046]
 [-0.52489903  1.4194634 ]
 [-0.71689345 -0.62707477]]

# logistic resgression

In [49]:
classifier=LogisticRegression(random_state=0)
classifier.fit(xtrain,ytrain)

LogisticRegression(random_state=0)

In [50]:
y_pred=classifier.predict(xtest)

In [51]:
print(y_pred)

[0 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 1 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 1 0 0 1 0 0 1 0 1 0 1 1 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 1 0 1 1 0 0 1 1
 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 1 1 1 0 1 1 0 0 1 1 0 0 1 0 0 0
 1 0 1 0 0 0 0 1 0]

In [52]:
cm=confusion_matrix(ytest,y_pred)
print("Confusion Matrix")
print(cm)

Confusion Matrix
[[71  3]
 [13 33]]